   *{
	margin: 0;
	padding: 0;
  
}


	

	.smenu {
		display: flex;
	    list-style: none;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		font-size: 0.8em;



	}

	.smenu li{
		position: relative;
		top: 1em;
		font-style: none; 
	}
	.smenu a{
		color: black;
	}
	.nav{
		position: relative;
		background: linear-gradient(45deg, rgba(238,238,238,1) 6%,rgba(238,238,238,1) 25%,rgba(238,238,238,1) 33%,rgba(99,185,242,1) 65%,rgba(13,127,168,1) 86%);
		width: 80%;
		height: 50px;
		margin: auto;
		border-radius: 1.2rem;
          
	}
	.logo{
		position: relative;
		left: 35%;
		top: 0px;

	}
	.menu{
		display: none;

	}


.grid-contenedor{

		display: grid;
		grid-template-columns: 1,1fr);
		grid-template-rows: 3,1fr);
		grid-template-areas: 
		"programacion "
		"diseño" 
		"marketing";
		width: 80%;
		height: 80%;
		grid-gap: 20px;
		margin: auto;
		padding-top: 10px;


    }


.programacion{
	grid-area: programacion;
	
	background-color: gray;
	background-image: url("../imagenes/programacionM.jpg");
    background-size: cover;
    background-position: center;
    height: 13em;
    border-radius: 1.2rem;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 4px 15px 0 black;


}
.programacion p{
	color: white;
	text-align: right;
	font-size: 1.5rem;
	text-decoration: underline;
}


.diseño{
 		grid-area: diseño;
		background-color: black;
		border-radius: 1.2rem;
		padding: 1rem;
	    background-image: url("../imagenes/diseñoWebM.jpg");
		background-size: cover;
		background-position: center;
		border-color: black;
        border-style: solid;
        box-shadow: 2px 4px 15px 0 black;
        height: 13em;



}
.diseño p{
		font-size: 1.5rem;
		color:black;
		border-radius: 1.2rem;
		color: white;
		text-decoration: underline;
  
}


.marketing{
		grid-area:marketing;
		background-color: yellow;
		border-radius: 1.2rem;
		padding: 1rem;
        background-image: url("../imagenes/marketing.jpg");
		background-size: cover;
		background-position: center;
		border-color: black;
        border-style: solid;
        box-shadow: 2px 4px 15px 0 black;
        height: 13em;


}

.marketing p{
	color: white;
	font-size: 1.5rem;
	text-decoration: underline;
}


#footer{

        position: relative;
        top: 145px;
 		padding: 0.8rem;
 		background-image: linear-gradient(to bottom, black ,#000000b0);
 		color: white;
 
/*fin de GRIDS*/

}
.redes{
		display: flex;
		align-items: center;
		align-content: flex-start;
		list-style: none;
	   }






@media all and (min-width: 768px){
	/*inicio de barra de navegacion */

 .menu{

	
	   display: flex;
	    list-style: none;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		font-size: 1.4em;


       }

.menu li{
	    position: relative;
	    top: 1em;
	

       }

.menu a{
	
		 color: black;
       }


.logo{
		position:relative;
		top: 10px;
		left:10px;

      }

.nav{
	    
		border-radius: 1.2rem;
		width: 80%;
		margin: auto;
}
.smenu{
	    display: none;
}

  /*fin de barra de navegacion */


  /*inicio de GRIDS*/ 




  .grid-contenedor{

		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(1,1fr);
		grid-template-areas: 
		"diseño programacion marketing";
		width: 80%;
		height: 200px;
		grid-gap: 20px;
		margin: auto;
		padding-top: 50px;


}


.diseño{
		grid-area:diseño;
		background-color:red;
		background-image: url("../imagenes/diseñoWeb.jpg");
		background-size: cover;
		background-position: center;
		height: 26em;
		

}



.programacion{
	    grid-area: programacion;
		background-color: black;
		background-image: url("../imagenes/programacion.jpg");
		background-size: cover;
		background-position: center;
		height: 28em;


}



.marketing{

		grid-area:marketing;
		background-color: yellow;
		background-image: url("../imagenes/marketing.jpg");
		background-size: cover;
		background-position: center;
		height: 26em;

}

#footer{
	  display: flex;
	  
	   height: 8em;
	   top:350px;
	   position: relative;
	   justify-content: center;
}
	   


.red{
		display: flex;
		align-items: center;
		align-content: flex-start;
		list-style: none;
	  }

.texto{
	display:flex; 
	flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
	height:100%;
	opacity: 0;
	background: rgba(0,0,0,0.4);
	transition: 0.9s;
	overflow: hidden;
	object-fit: contain;
	background-size: cover;
}
.texto:hover{
	opacity: 1;

}

.texto p{
	position: absolute;
	color: white;
	font-size: 2.5rem;
}



	}
