*{
	margin: 0;
	padding: 0;
  
}


	/*inicio de barra de navegacion  mobile*/

	.smenu {
		display: flex;
	    list-style: none;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		font-size: 0.8em;



	}

	.smenu li{
		position: relative;
		top: 1em;
		font-style: none; 
	}
	.smenu a{
		color: black;
	}
	.nav{
		position: relative;
		background: linear-gradient(45deg, rgba(238,238,238,1) 6%,rgba(238,238,238,1) 25%,rgba(238,238,238,1) 33%,rgba(99,185,242,1) 65%,rgba(13,127,168,1) 86%);
		width: 80%;
		height: 50px;
		margin: auto;
		border-radius: 1.2rem;
          
	}
	.logo{
		position: relative;
		left: 35%;
		top: 0px;

	}
	.menu{
		display: none;
	}
	/*fin de barra de navegacion Mobile*/
      

     /*inicio de GRIDS*/ 
    .grid-contenedor{

		display: grid;
		grid-template-columns: 1,1fr);
		grid-template-rows: 4,1fr);
		grid-template-areas: 
		"articulo "
		"foto" 
		"descripcion"
		"footer";
		width: 80%;
		height: 400px;
		grid-gap: 20px;
		margin: auto;
		padding-top: 10px;


    }


.foto{
	grid-area: foto;
	background-color: gray;
	background-image: url("../imagenes/paisajes.jpg");
    background-size: cover;
    background-position: center;
    height: 29em;
    border-radius: 1.2rem;
     border-color: black;
    border-style: solid;
    box-shadow: 2px 4px 15px 0 black;


}


.articulo{
 	grid-area: articulo;
	background-color: black;
	border-radius: 1.2rem;
	padding: 1rem;
	font-family:'Architects Daughter', cursive; 


}
.articulo p{
		font-size: 1.5rem;
		color:#ffffff;
		border-radius: 1.2rem;

}


.descripcion{
		grid-area:descripcion;
		background-color: yellow;
		border-radius: 1.2rem;
		padding: 1rem;

}
.footer{


 		grid-area: footer;
 		padding: 0.8rem;
 		background-image: linear-gradient(to bottom, black ,#000000b0);
 		color: white;
 
/*fin de GRIDS*/

}
.redes{
		display: flex;
		align-items: center;
		align-content: flex-start;
		list-style: none;
	   }






@media all and (min-width: 768px){
	/*inicio de barra de navegacion */

 .menu{

	
	   display: flex;
	    list-style: none;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		font-size: 1.4em;


       }

.menu li{
	    position: relative;
	    top: 1em;
	

       }

.menu a{
	
		 color: black;
       }


.logo{
		position:relative;
		top: 10px;
		left:10px;

      }

.nav{
	    background-color: gray;
		border-radius: 1.2rem;
		width: 80%;
		margin: auto;
}
.smenu{
	    display: none;
}

  /*fin de barra de navegacion */


  /*inicio de GRIDS*/ 
.grid-contenedor{

		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,1fr);
		grid-template-areas: 
		"foto articulo"
		"foto descripcion"
		"footer footer";
		width: 80%;
		height: 200px;
		grid-gap: 20px;
		margin: auto;
		padding-top: 50px;


}


.foto{
		grid-area:foto;
		background-color:red;
		background-image: url("../imagenes/girasoles1920.jpg");
		background-size: cover;
		background-position: center;
		height: 100%;
        

     }


.articulo{
	    grid-area: articulo;
		background-color: black;

}


.descripcion{

		grid-area:descripcion;
		background-color: yellow;

}

.footer{
	   grid-area: footer;
	  
	   height: 8em

	   
	/*fin de GRIDS*/
	
	}
	.redes{
		display: flex;
		align-items: center;
		align-content: flex-start;
		list-style: none;
	}
}

